
$font-size-base: 0.85rem; // Assumes the browser default, typically `16px`

$card-border-width: 0px;
$font-family-sans-serif: "Montserrat";
$body-color: #0B457F;
$border-radius:.50em;
$blue: #0061EA !default;